@use "sass:map";
@use "colors";
@use "mixins";
@use "vars";

:host {
  @include mixins.inset;

  position: absolute;
  pointer-events: none;
  display: block;
}

.snippets {
  pointer-events: none;

  &__item {
    pointer-events: auto;
    position: absolute;
    background-color: rgba(colors.$snippetColor, 0.3);
    border: 1px solid #{colors.$snippetColor};
    opacity: 0.2;
    transition: opacity #{vars.$animationTime} ease;
    cursor: grab;
    z-index: 1;

    &:hover {
      opacity: 1;
      z-index: 2;
    }

    &.dragging {
      cursor: grabbing;
    }
  }
}
