@use "sass:map";
@use "colors";
@use "mixins";

$animationTime: 0.3s;
$color: map.get(colors.$matPrimary, 40);

:host {
  @include mixins.inset;

  position: absolute;
  pointer-events: none;
  display: block;
}

.snippets {
  pointer-events: none;

  &__item {
    pointer-events: auto;
    position: absolute;
    background-color: rgba($color, 0.3);
    border: 1px solid #{$color};
    opacity: 0.2;
    transition: opacity #{$animationTime} ease;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
