@let doc = document();
@let loading = pageLoading();

@if (doc) {
  <div class="image">
    <div
      class="image__border"
      resizeObserver
      (resized)="onResize($event)"
    >
      <div
        #imageOverlay
        scrollable
        [inertion]="false"
        class="image__overlay"
        [ngStyle]="styles()"
        [disabledScroll]="loading"
        [disabledBottomScroll]="nextDocumentIndex() < 0"
        [disabledTopScroll]="prevDocumentIndex() < 0"
        [(isScrolling)]="isPageScrolling"
        (scrollStart)="onScrollStart($event)"
      >
        <img
          [src]="doc.imageUrl"
          [alt]="doc.name"
          [class.dragging]="isDragging()"
          [(isDragging)]="isDragging"
          (load)="onImageLoad($event)"
          (dragging)="onImageDrag($event)"
        />
      </div>
      <!-- Загрузка -->
      @if (loading) {
        <div
          class="image__loader"
          (mousedown)="$event.stopPropagation()"
          (mouseleave)="$event.stopPropagation()"
          (click)="$event.stopPropagation()"
        >
          <mat-spinner
            mode="indeterminate"
            color="primary"
            [diameter]="128"
            [strokeWidth]="12"
          />
        </div>
      }
      <!-- Управление -->
      @else {
        <app-document-viewer-actions
          [(zoom)]="zoom"
          [(tool)]="currentTool"
          class="image__actions"
        />
      }
    </div>
  </div>
}
