@let doc = document();

@if (doc) {
  <div class="image">
    <div
      class="image__border"
      resizeObserver
      (resized)="onResize($event)"
    >
      <div
        #imageOverlay
        class="image__overlay"
        [ngStyle]="styles()"
      >
        <img
          [src]="doc.imageUrl"
          [alt]="doc.name"
          [class.dragging]="isDragging()"
          [(isDragging)]="isDragging"
          (load)="onImageLoad($event)"
          (dragging)="onImageDrag($event)"
          (wheel)="onScroll($event)"
        />
      </div>
      <!-- Управление -->
      @if (!pageToggling) {
        <app-document-viewer-actions
          [(zoom)]="zoom"
          [(tool)]="currentTool"
          class="image__actions"
        />
      }
      <!-- Загрузка -->
      @else {
        <div class="image__loader"></div>
      }
    </div>
  </div>
}
