@use "sass:map";
@use "mixins";
@use "colors";

$spacing: 15px;
$background: #ccc;
$animationTime: 0.3s;

.image {
  height: 100%;
  background-color: #ccc;
  border-radius: 6px;
  padding: $spacing;
  user-select: none;

  &:hover &__actions {
    opacity: 0.5;
    visibility: visible;

    &:hover {
      opacity: 1;
    }
  }

  &__border {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
  }

  &__overlay {
    position: relative;

    > img {
      cursor: grab;
      width: 100%;
      height: 100%;
      transition: opacity #{$animationTime} ease;

      + img {
        margin-top: $spacing;
      }

      &.dragging {
        cursor: grabbing;
      }

      &.loading {
        opacity: 0.2;
      }
    }
  }

  &__loader {
    @include mixins.inset(-$spacing);

    position: absolute;
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
      opacity #{$animationTime} ease,
      visibility #{$animationTime} ease;

    &.loading {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__actions {
    position: absolute;
    pointer-events: none;
    bottom: $spacing;
    left: 50%;
    display: flex;
    flex-flow: row nowrap;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
    background-color: map.get(colors.$matPrimary, 30);
    padding: 10px;
    border-radius: 60px;
    transition:
      opacity #{$animationTime} ease,
      visibility #{$animationTime} ease;
  }

  &__snippets {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
