@use "@angular/material";
@use "sass:math";
@use "sass:map";
@use "mixins";
@use "colors";

$spacing: 10px;
$iconSize: 40px;
$panelHeight: $iconSize + ($spacing * 2);

:host {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;

  @include material.icon-button-overrides(
    (
      icon-color: white,
      disabled-icon-color: #aaa
    )
  );

  @include material.button-overrides(
    (
      text-label-text-color: white,
      text-disabled-label-text-color: #aaa
    )
  );
}

.action-group {
  background-color: map.get(colors.$matPrimary, 40);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: $spacing;
  border-radius: math.div($panelHeight, 2);
  pointer-events: auto;

  &.gap {
    gap: $spacing;
  }

  & + & {
    margin-left: 15px;
  }
}

.label {
  color: white;
}

button {
  pointer-events: auto;
}
