@let doc = document();
@let isImageDrawing = isImageDragging();
@let isSnippetDrawing = isCreatingSnippet();

@if (doc) {
  <div
    class="overlay"
    [ngStyle]="styles()"
  >
    <img
      [src]="doc.imageUrl"
      [alt]="doc.name"
      [class.dragging]="isImageDrawing && !isSnippetDrawing"
      [class.moving]="!isImageDrawing && isSnippetDrawing"
      [class.loading]="pageLoading()"
      [disabledDrag]="isSnippetDrawing"
      [(isDragging)]="isImageDragging"
      (load)="onLoad($event)"
      (dragStart)="onDragStart($event)"
      (dragging)="onDrag($event)"
      (dragEnd)="onDragEnd()"
    />
    <!-- Аннотации -->
    <app-document-viewer-snippets
      [(isSnippetHelperDragging)]="isCreatingSnippet"
    />
  </div>
}
