@let isEditing = isEditingSignal();

@for (direction of directions; track direction) {
  @let x = direction[0];
  @let y = direction[1];

  <span
    [class.corner]="x !== 0 && y !== 0"
    [class.side]="x === 0 || y === 0"
    [strictTarget]="true"
    [ngClass]="getDirectionName(x, y)"
    (dragStart)="onStart($event)"
    (dragging)="onDragging(x, y, $event)"
  ></span>
}

@if (isEditing) {
  <textarea
    class="editor"
    [(ngModel)]="editingText"
  ></textarea>
}

<div class="actions">
  @if (isEditing) {
    <app-document-viewer-snippet-action
      icon="save"
      [disabled]="!isHasChanges()"
      (action)="onSave()"
    />
  } @else {
    <app-document-viewer-snippet-action
      icon="edit"
      (action)="onEdit()"
    />
  }

  <app-document-viewer-snippet-action
    icon="close"
    (action)="onDelete()"
  />
</div>
