@let isEditing = isEditingSignal();

@for (direction of directions; track direction) {
  @let x = direction[0];
  @let y = direction[1];

  <span
    [class.corner]="x !== 0 && y !== 0"
    [class.side]="x === 0 || y === 0"
    [strictTarget]="true"
    [ngClass]="getDirectionName(x, y)"
    (dragStart)="onStart($event)"
    (dragging)="onDragging(x, y, $event)"
  ></span>
}

<div class="actions">
  @if (isEditing) {
    <span
      class="actions__item"
      (click)="onSave()"
    >
      <mat-icon>save</mat-icon>
    </span>
  } @else {
    <span
      class="actions__item"
      (click)="onEdit()"
    >
      <mat-icon>edit</mat-icon>
    </span>
  }

  <span
    class="actions__item"
    (click)="onDelete()"
  >
    <mat-icon>close</mat-icon>
  </span>
</div>
