@use "sass:map";
@use "colors";
@use "mixins";
@use "vars";

$color: map.get(colors.$matPrimary, 40);

.overlay {
  @include mixins.inset;

  pointer-events: none;
  display: block;
  position: absolute;
}

.helper {
  position: absolute;
  background-color: rgba($color, 0.3);
  border: 1px solid #{$color};
  opacity: 0;
  visibility: hidden;
  transition:
    opacity #{vars.$animationTime} ease,
    visibility #{vars.$animationTime} ease;

  &.dragging {
    opacity: 1;
    visibility: visible;
  }
}
