@use "sass:map";
@use "@angular/material";

$matPrimary: material.$azure-palette;

$title: #000;
$subtitle: #333;
$text: #727272;
$border: #f1f1f1;
$background: #f3f3f3;
$card: #fff;
$tabBorder: #e0e0e0;

$overlayColor: rgba(0, 0, 0, 0.5);
$shadow: rgba(0, 0, 0, 0.15);

$titleDark: #fff;
$subTitleDark: #ececec;
$textDark: #c0c0c0;
$borderLight: #ddd;

$snippetColor: map.get($matPrimary, 40);
