<div class="section">
  <div class="container header">
    <!-- Название и хлебные крошки -->
    @if (!!breadCrumbs.length) {
      <div class="header__breadcrumbs">
        @for (breadCrumb of breadCrumbs; track breadCrumbs; let key = $index) {
          <mat-icon
            class="header__breadcrumbs-delimiter"
            *ngIf="key > 0"
          >
            chevron_right
          </mat-icon>
          <!-- Ссылка -->
          @if (!!breadCrumb?.link?.length) {
            <a
              [routerLink]="breadCrumb.link"
              class="header__breadcrumbs-link"
            >
              {{ breadCrumb.title }}
            </a>
          }
          <!-- Текст -->
          @else {
            <span class="header__breadcrumbs-item">{{ breadCrumb.title }}</span>
          }
        }
      </div>
    }
    <!-- Только название -->
    @else {
      <div class="header__title">{{ title$ | async }}</div>
    }
  </div>
</div>
