@use "sass:map";
@use "colors";
@use "mixins";
@use "vars";

$fontSize: 20px;
$lineHeight: 1.2;

.section {
  background-color: map.get(colors.$matPrimary, 25);
  height: 100%;
}

.container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.header {
  display: flex;
  align-items: center;
  height: 100%;

  &__title {
    @include mixins.lineClamp(1, $lineHeight, $fontSize, 0, true);

    font-weight: 300;
    color: map.get(colors.$matPrimary, 100);
  }

  &__breadcrumbs {
    height: $fontSize * $lineHeight;
    flex-grow: 1;
    overflow: hidden;
    font-size: 0;
    line-height: 1;

    > mat-icon,
    &-item,
    &-link {
      vertical-align: middle;
    }

    > mat-icon,
    &-link {
      color: map.get(colors.$matPrimary, 100);
    }

    &-item,
    &-link {
      @include mixins.lineClamp(1, 1.2, 24px, 0, true);

      display: inline-block;
      max-width: max(230px, calc(100% / 3));
    }

    &-item {
      color: #eee;
      font-weight: 300;
    }

    &-link {
      text-decoration: none;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
